%h2
  = link_to @client.name, @client.website
  is requesting access to your account.

- form_tag oauth2_authorize_path do 
  = hidden_field_tag :client_id, @client.identifier
  = hidden_field_tag :response_type, @response_type
  = hidden_field_tag :redirect_uri, @redirect_uri

  = checkbox_tag :approved
  = submit_tag 'Approve'
  = link_to 'Reject', @redirect_uri + '?error_code=rejected....'

